* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-bg-color: #382c3e;
$secondary-bg-color: #998396;
$text-color: #ffffff;
$secondary-text-color: #998396;
$border-radius: 20px;
$font-family: 'Archivo', sans-serif;
$font-weight-light: 100;

$font-size-base: 16px; // базовый размер шрифта
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 32px;

.movie-details-page {
    font-family: $font-family;
    color: $text-color;
}

.movie-details-image {
}

.movie-preview.page {

width: 100%;

}


.movie-info {
    margin: 0 20px;
    font-size: $font-size-base;
}

.movie-title-rating {
    display: flex;
    justify-content: space-between;


    .movie-title {
        
        font-family: $font-family;
        color: $text-color;
        font-size: $font-size-xlarge; // Большой размер для названия фильма
        font-weight: bold;
    }

    .rating-icon {
        
        .ratings-icon{
            margin-left: 5px;
            width: 20px;
        }
    }

    .movie-rating {
        display: flex;
        align-items: center;
        font-family: $font-family;
        color: $text-color;
        font-size: $font-size-medium; // Средний размер для рейтинга
    }
}

.movie-details {
    font-family: $font-family;
    color: $secondary-text-color;
    margin-top: 10px;
    font-size: $font-size-small; // Меньший размер для года и режиссера

    .release-year,
    .director {
      
    }
}

.movie-genres {
    font-family: $font-family;
    margin-top: 20px;
    font-size: $font-size-small; // Размер шрифта для жанров

    .genre {
        color: $secondary-text-color;
        background-color: $primary-bg-color;
        border-radius: $border-radius;
        padding: 5px 20px;
        margin-right: 10px;
    }
}

.movie-description {
    font-family: $font-family;
    color: $text-color;
    margin-top: 20px;
    font-size: $font-size-small; // Средний размер для описания
    .more{
        color: $secondary-text-color;
        cursor: pointer;
    }
}


.cast{
    margin: 20px 20px 0 20px;
    font-size: $font-size-base;
    .cast-header{

    }
    .cast__img{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .cast-img_div{
            width: 80px;
            
        }
        .cast-portret{
            border-radius: $border-radius;
            width: 75px;
            height: 100px;
        }   
    }
}